/*!
 
 */

 html, body {
    line-height: 1.5;
    font-size: 100%;
    color: rgb(26, 25, 25);
    height: 100%;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    background: #82E8F6;

 }

 .container {
     max-width: 650px;
     margin: 0 auto;
 }

 h1 {
     font-size: 3rem;
     margin: 0;
 }

 h2 {
    font-size: 2rem;
    margin: 0;
 }

 h3 {
    font-size: 1.5rem;
    font-weight: 300;
 }

 p {
    font-size: 1.2rem; 
    margin: 0;
    margin-bottom: 0;
 }

 .bold {
    font-size: 1.2rem; 
    font-weight: 600;
    margin-bottom: 0;
 }

 .date,
 .volume {
    font-size: 1.2rem; 
    font-weight:300;
 }

 .tagline {
     font-size: 1.5rem;
     font-style: italic;
     margin-top: 0;
 }

 form {
     margin-top: 70px;
     margin-bottom: 0;
 }


label {
 font-size: 1.1rem;
}

input[type="text"] {
    width: 250px;
    height: 30px;
    margin-bottom: 1.25rem;
    border-radius: 5px;
    border: 1px solid #a2adb7;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
    margin-left: 5px;
    font-size: 16px;
}

input[type=submit] {
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    border: 1px solid #a2adb7;
    font-size: 16px;
}


.search-panel {
    margin-bottom: 2rem;
}

.results aside {
    border-radius: 5px;
    padding: 1.5rem;
}


.price,
.character {
    font-size: 3rem;
    font-weight: bold;
    color: #0D6EFD;
    margin: 0;
    padding-right: 10px;
}

.change, 
.change-percentage {
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: 10px;
}

.positive {
    color: rgb(84, 184, 84);
}

.negative {
    color: rgb(243, 79, 79);
}

.neutral {
    color: black;
}

@media (min-width: 600px) {

html, body {
    line-height: 1.5;
    font-size: 100%;
    height: 100%;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    background: #82E8F6;
    background: -webkit-linear-gradient(top left, #82E8F6, #5C54FE);
    background: -moz-linear-gradient(top left, #82E8F6, #5C54FE);
    background: linear-gradient(to bottom right, #82E8F6, #5C54FE); 
  }

  
  .stock-price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

  .container {
    max-width: 650px;
    margin: 0 auto;
}

}

